body {
	margin: 0px; 
	padding: 0px;
	background-color: #BBB;
}

canvas, img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}



#gamediv {
	height: 70vh;
	margin: auto;
	margin-top: 100px;
}